div.content.blue .btn{
  border: 1px solid #58a2d2;
}
div.content.blue .add:hover,div.content.blue .del:hover,div.content.blue .btn:hover,div.content.blue .content-hd .skill-level .item .in,div.content.blue nav>button{
  background: #58a2d2;
  color: white;
}

div.content.blue .btn,div.content.blue .name,div.content.blue .job,div.content.blue .iconfont,div.content.blue [contenteditable=true]:after,div.content.blue .add,div.content.blue .del,footer.blue .footer-link,footer.blue .iconfont{
  color: #58a2d2;
}

div.content.blue ::selection {
  background: #58a2d2;
  color: white;
}

div.content.blue ::-moz-selection {
  background: #58a2d2;
  color: white;
}