div.content.purple .btn{
  border: 1px solid #607d8b;
}
div.content.purple .add:hover,div.content.purple .del:hover,div.content.purple .btn:hover,div.content.purple .content-hd .skill-level .item .in{
  background: #607d8b;
  color: white;
}

div.content.purple .btn,div.content.purple .name,div.content.purple .job,div.content.purple .iconfont,div.content.purple [contenteditable=true]:after,div.content.purple .add,div.content.purple .del,footer.purple .footer-link,footer.purple .iconfont{
  color: #607d8b;
}

div.content.purple ::selection {
  background: #607d8b;
  color: white;
}

div.content.purple ::-moz-selection {
  background: #607d8b;
  color: white;
}