<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>STAGE在线简历生成器</title>
    <link rel="shortcut icon" href="./static/favicon.ico">
</head>
<body>
    <div id="app" :class="resume.skinColor" v-cloak>
        <github-corner></github-corner>
        <left-nav
        v-bind={mode,currentUser,shareLink}
        v-on={clickSaveBtn,print,clickLogout}
        @change-skin-seen="changeSkinSeen = !changeSkinSeen">
        </left-nav>

        <login
        v-if="isLogin"
        v-bind={loginpartSeen,login,signup,isLogin}
        v-on={onSignup}
        @logintrue="loginpartSeen=true"
        @loginfalse="loginpartSeen=false"
        @close="isLogin = false;loginpartSeen=true">
        </login>

        <change-skin
        v-if="changeSkinSeen"
        @changeskin="changeSkin($event)">
        </change-skin>

    <div class="content">
         <resume
         v-bind={mode,resume}
         v-on={changeResume,addItem,deleteItem,saveImg}>
         </resume>
    </div>

    <footer
    :class="resume.skinColor" class=github-footer><i class="iconfont icon-link"></i>傲娇地使用 <a class=footer-link href=https://github.com/harry0071/resume-generator target=_blank> STAGE在线简历编辑器 </a> 生成简历
    </footer>
    
</div>
<script>
    if(!!window.ActiveXObject || "ActiveXObject" in window){
        document.body.innerHTML = '<h1 style="font-size:30px;">请使用最新版Chrome浏览器打开此页！</h1>';
    }
</script>
</body>
</html>