<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>在线简历编辑器</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/change_skin.css">
    <link rel="stylesheet" href="css/pink_skin.css">
    <link rel="stylesheet" href="css/blue_skin.css">
    <link rel="stylesheet" href="css/purple_skin.css">
</head>
<body>
<!--[if IE]><p class="kill-ie">微软都放弃了IE，为啥你却还不放弃？</p><![endif]-->
<div id="app">
    <div id="login" v-show="isLogin" v-cloak>
        <form @submit.prevent="onSignup">
            <a href="javascript:;" @click="loginpartSeen=true">登录</a><a href="javascript:;" @click="loginpartSeen=false">注册</a><span class="close" @click="isLogin = false;loginpartSeen=true">×</span>
            <div id="login-part" v-if="loginpartSeen">
            <label>邮箱：<input type="email" required v-model="login.email"></label>
            <label>密码：<input type="password" required v-model="login.password"></label>
            <button type="submit">登录</button> 
           </div>
  <div id="signup-part" v-if="!loginpartSeen">
            <label>邮箱：<input type="email" required v-model="signup.email"></label>
            <label>密码：<input type="password" required v-model="signup.password"></label>
            <button type="submit">注册</button> 
            </div>
        </form>
    </div>
    <div id="change-skin" v-show="changeSkinSeen" v-cloak>
        <div class="skin-container">
        <span class="default" @click="changeSkin('default')"></span>
        <span class="pink" @click="changeSkin('pink')"></span>
        <span class="blue" @click="changeSkin('blue')"></span>
        <span class="purple" @click="changeSkin('purple')"></span>
        </div>
    </div>
    <nav>
        <button id="save-btn" @click="clickSaveBtn">保存</button>
        <button id="share-btn">分享</button>
        <button id="print-btn" @click="print">打印</button>
        <button id="skin-btn" @click="changeSkinSeen = !changeSkinSeen">换肤</button>
        <button id="logout" @click="clickLogout" v-show="currentUser" v-cloak>登出</button>
        {{resume}}
    </nav>
<div class="content" :class="resume.skinColor">
    
    <div class=content-bd>
        <div class=content-left>

            <section class=practice>
                <header class=section-hd>
                    <span class=section-title-l></span>
                    <h2 class="section-title" contenteditable  @blur="changeResume(`titles[0]`,$event)">{{resume.titles[0]}}</h2>
                    <span class=section-title-r></span>
                </header>
                <div class=section-bd>
                    <div class=item v-for="(practice,i) in resume.practices">
                        <header class=item-hd>
                            <span class=item-time contenteditable  @blur="changeResume(`practices[${i}].time`,$event)">{{practice.time}}</span>
                            <h3 class=item-name contenteditable  @blur="changeResume(`practices[${i}].company`,$event)">{{practice.company}}</h3>
                            <button class="del" v-if="i>2" @click="deleteItem('practices',i)">×</button>
                        </header>
                        <div class=item-bd>
                            <p class=section-content contenteditable  @blur="changeResume(`practices[${i}].description`,$event)">{{practice.description}}</p>
                        </div>
                    </div>
                    <button class="add" @click="addPractice">+</button>
                </div>
            </section>

            <section class=project>
                <header class=section-hd>
                    <span class=section-title-l></span>
                    <h2 class="section-title" contenteditable  @blur="changeResume(`titles[1]`,$event)">{{resume.titles[1]}}</h2>
                    <span class=section-title-r></span>
                </header>
                <div class=section-bd>
                    <div class=item v-for="(project,i) in resume.projects">
                        <header class=item-hd>
                            <span class=item-time contenteditable  @blur="changeResume(`projects[${i}].time`,$event)">{{project.time}}</span>
                            <a class="btn item-more" :href="project.link" target=_blank >项目链接</a>
                            <input class="item-more" type="text" v-model="project.link" title="必须以http开头" placeholder="网址必须以http开头">
                            <h3 class=item-name contenteditable @blur="changeResume(`projects[${i}].work`,$event)">{{project.art}}</h3>
                            <button class="del" v-if="i>2" @click="deleteItem('projects',i)">×</button>
                        </header>
                        <div class=item-bd>
                            <p class=section-content contenteditable  @blur="changeResume(`projects[${i}].description`,$event)">{{project.description}}</p>
                        </div>
                    </div>
                    <button class="add" @click="addProject">+</button>
                </div>
            </section>

            <section class=skill>
                <header class=section-hd>
                    <span class=section-title-l></span>
                    <h2 class="section-title" contenteditable @blur="changeResume(`titles[2]`,$event)">{{resume.titles[2]}}</h2>
                    <span class=section-title-r></span>
                </header>
                <div class=section-bd>
                    <ul class=section-list>
                        <li v-for="(skill,i) in resume.skills"><p class=section-content contenteditable @blur="changeResume(`skills[${i}]`,$event)"><i class="iconfont icon-dot"></i>{{skill}}</p><button class="del" v-if="i>2" @click="deleteItem('skills',i)">×</button></li>
                    </ul>
                    <button class="add" @click="addSkill">+</button>
                </div>
            </section>

            <section class=prize>
                <header class=section-hd>
                    <span class=section-title-l></span>
                    <h2 class="section-title" contenteditable @blur="changeResume(`titles[3]`,$event)">{{resume.titles[3]}}</h2>
                    <span class=section-title-r></span>
                </header>
                <div class=section-bd>
                    <div class=item v-for="(prize,i) in resume.prizes">
                        <header class=item-hd>
                            <span class=item-time contenteditable @blur="changeResume(`prizes[${i}].time`,$event)">{{prize.time}}</span>
                            <h3 class=item-name contenteditable @blur="changeResume(`prizes[${i}].description`,$event)">{{prize.description}}</h3>
                            <button class="del" v-if="i>2" @click="deleteItem('prizes',i)">×</button>
                        </header>
                    </div>
                    <button class="add" @click="addPrize">+</button>
                </section>
        </div>
        <header class="content-right content-hd">

            <section class=title>
                <img class=avator src="">
                <div class=name>
                    <h1 contenteditable @blur="changeResume(`name`,$event)">{{resume.name}}</h1>
                </div>
               <h2 class="job" contenteditable @blur="changeResume(`job`,$event)">{{resume.job}}</h2>
            </section>

            <section class=info>
                <div v-for="(info,i) in resume.infos">
                   <h2 contenteditable @blur="changeResume(`infos[${i}]`,$event)">{{info}}</h2>
                   <button class="del" v-if="i>2" @click="deleteItem('infos',i)">×</button>
                </div>
                
                <button class="add" @click="addInfo">+</button>
            </section>

            <section class="skill-level">
                <h3>HTML</h3>
                <div class="item i-html">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>CSS</h3>
                <div class="item i-css">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>JavaScript</h3>
                <div class="item i-js">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>Sass</h3>
                <div class="item i-sass">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>PhotoShop</h3>
                <div class="item i-ps">
                    <i class="in"></i><i class="out"></i>
                </div>
            </section>

            <section class=contact>
                <ul>
                    <li>
                        <a href=http://toadw.cn target=_blank>
                            <i class="iconfont icon-homepage"></i>
                            <span class=contact-link>toadw.cn</span>
                        </a>
                    </li>
                    <li>
                        <a href=https://github.com/toadwoo target=_blank>
                            <i class="iconfont icon-github"></i>
                            <span class=contact-link>github.com/toadwoo</span>

                        </a>
                    </li>
                    <li>
                        <a href=mailto:toadwoo@foxmail.com target=_blank>
                            <i class="iconfont icon-email"></i>
                            <span class=contact-link>toadwoo@foxmail.com</span>

                        </a>
                    </li>
                    <li>
                        <a href=tel:13074852391 target=_blank>
                            <i class="iconfont icon-phone"></i>
                            <span class=contact-link>130****2391</span>
                        </a>
                    </li>
                </ul>
            </section>
        </header>

    </div>
</div>
<footer class=github-footer><a class=footer-link href=https://github.com/toadwoo/resume target=_blank><i class="iconfont icon-link"></i> github.com/harry0071/vue-resumeditor</a>
</footer>
</div>
<script src="https://cdn1.lncld.net/static/js/3.6.8/av-min.js"></script>
<script src="js/av-init.js"></script>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>